<% if(typeof errors != 'undefined') { %> <% errors.forEach(function(error){ %>
<p><%= error.msg %></p>
<% }) %> <% } %>

<!--Success-->
<% if(successMessage != '') { %>
<p><%=successMessage %></p>
<% } %>

<!--Error Message-->
<% if(errorMessage != '') { %> <%= errorMessage %> <% } %>

<!--Error-->
<% if(error != '') { %> <%= error %> <% } %>
