<div class="main-content">
    <!-- The feed that the User sees -->
      <!-- content-box is one "conversation" between users-->
      <div class="cover-container d-flex mx-auto flex-column">
       <!--  include ('./stories/showFeed'); -->
      </div>
      <br />
</div>