* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/*body {
  padding-left: 300px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.content-holder{
  min-height: calc(100vh - 111px);
  width: 100%;
  display: flex;
  padding: 2%;
  background-color: #9ba4b4;
  align-items: center;
  justify-content: center;
}
.content-screen {
  height: 100px;
  min-height: calc(100vh - 111px);
  width: 100%;
  display: flex;
  padding: 2%;
  background-color: #9ba4b4;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
}
.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.password-change a:hover {
  color: #fff;
}
@media only screen and (max-width: 600px) {
  body {
    padding-left: 140px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    padding-left: 150px;
  }
}

@media only screen and (min-width: 900px) {
  body {
    padding-left: 260px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding-left: 300px;
  }
}
