.connections-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.connections-view {
  position: relative;
  margin: 0;
  padding: 2%;
  width: 100%;
  background-color: transparent;
  gap: 1em;
}

.card-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.card {
  padding: 0.5em;
  height: 100%;
}
