<div class="container main-content">
  <div class="col-sm-6 mx-auto text-center">
    <p>Update your information below!</p>
    <form action="<%= `/users/${user._id}/change?_method=PUT` %>" method="POST">
      <!--Old-->
      <div class="form-group row">
        <input
          class="col-sm-12 form-control mx-auto"
          id="old_password"
          type="password"
          placeholder="Confirm Old Password"
          name="old_password"
          required
        />
      </div>
      <!--New-->
      <div class="form-group row">
        <input
          class="col-sm-12 form-control mx-auto"
          id="new_password"
          type="password"
          placeholder="New Password"
          name="new_password"
          required
        />
      </div>
      <!--Confirm-->
      <div class="form-group row">
        <input
          class="col-sm-12 form-control mx-auto"
          id="confirm_new_password"
          type="password"
          placeholder="Confirm Password"
          name="confirm_new_password"
          required
        />
      </div>

      <div class="form-buttons row">
        <button class="btn btn-primary col-sm-3 mx-auto" type="submit">
          Change
        </button>
        <a
          class="btn btn-secondary col-sm-3 mx-auto"
          href="<%= `/users/${user._id}` %>"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
